HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Log ###
*.log
logs/
*.out

### Build result ###
/build/
target/
*.class
*.jar
*.war
*.ear

### Setting ###
.env
*.config
*.properties
*.yml
*.yaml

### Package ###
node_modules/
vendor/
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

#### Git ###
.gitignore
.gitattributes